<a href="https://colab.research.google.com/github/znumunz/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary

In [ ]:
dict_a = {'abc':123 , 'def':456 , 'ghi':789}

In [ ]:
print(dict_a)
dict_a['abc']

{'abc': 123, 'def': 456, 'ghi': 789}

123

##สร้างดิคเปล่าๆก่อน ค่อยวนลูปเอา

In [ ]:
dict_b = {}

In [ ]:
dict_b['a']=123

In [ ]:
dict_b
dict_b['a'] = 456

In [ ]:
dict_b

{'a': 456}

## การ add สมาชิกในdict

In [ ]:
# ถ้า b ไม่ได้อยู่ใน dict ให้เพิ่มค่า b = 123
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 456, 'b': 123}

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('กองสุข','663020292-1','รุ่งแสง')

'ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1'

In [ ]:
a = print_name(name='รุ่งแสง',surname='กองสุข',ID='663020292-1')

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = a # มี output
print(out_printname1)

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif('12:30:15-13:41:07')

4252

## เขียนเอง

In [ ]:
def call_dif_secs(data):
# ข้อ 3
  start , end = data.split(' - ')
  print(start)
  print(end)

  start_time , start_day = start.split(",")
  end_time, end_day = end.split(",")

  days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

  start_index = days.index(start_day.strip())
  end_index = days.index(end_day.strip())

  if end_index - start_index -1 < 0:
    day_diff = 7 + end_index - start_index -1
  else:
    day_diff = end_index - start_index -1
  print(f'ห่างกัน {day_diff} วัน')

  h1 , m1 , s1 = start_time.split(':')
  h1 = int(h1)
  m1 = int(m1)
  s1 = int(s1)
  start_second = (h1*3600) + (m1*60) + s1

  h2 , m2 , s2 = end_time.split(':')
  h2 = int(h2)
  m2 = int(m2)
  s2 = int(s2)
  end_second = (h2*3600) + (m2*60) + s2

  # 1 วัน มี 86400 วินาที
  total_time = (86400 - start_second) + end_second + (day_diff * 86400)
  print(f'ช่วงระยะเวลาระหว่าง {data} มีทั้งหมด {total_time} วินาที')

In [ ]:
# ข้อ 1
call_dif_secs('12:30:15, Wednesday - 13:41:07, Thursday')

12:30:15, Wednesday
13:41:07, Thursday
ห่างกัน 0 วัน
ช่วงระยะเวลาระหว่าง 12:30:15, Wednesday - 13:41:07, Thursday มีทั้งหมด 90652 วินาที

In [ ]:
call_dif_secs('12:53:15, Monday - 00:59:25, Tuesday')

12:53:15, Monday
00:59:25, Tuesday
ห่างกัน 0 วัน
ช่วงระยะเวลาระหว่าง 12:53:15, Monday - 00:59:25, Tuesday มีทั้งหมด 43570 วินาที

In [ ]:
call_dif_secs('16:06:09, Sunday - 11:11:11, Tuesday')

16:06:09, Sunday
11:11:11, Tuesday
ห่างกัน 1 วัน
ช่วงระยะเวลาระหว่าง 16:06:09, Sunday - 11:11:11, Tuesday มีทั้งหมด 155102 วินาที

# Quiz 6

In [ ]:
def call_dif_secs0(start_time ,end_time ,start_day = 'Monday',end_day='Monday'):

  # start_time , start_day = start.split(",")
  # end_time, end_day = end.split(",")

  days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
  start_index = days.index(start_day.strip())
  end_index = days.index(end_day.strip())

  if end_index - start_index == 0 :
      day_diff = 0
      print(f'วันเดียวกัน')
  elif    end_index - start_index -1 < 0:
    day_diff =  end_index - start_index +6
  else:
    day_diff = end_index - start_index -1
    print(f'ห่างกัน {day_diff} วัน')

  h1 , m1 , s1 = start_time.split(':')
  h1 = int(h1)
  m1 = int(m1)
  s1 = int(s1)
  start_second = (h1*3600) + (m1*60) + s1

  h2 , m2 , s2 = end_time.split(':')
  h2 = int(h2)
  m2 = int(m2)
  s2 = int(s2)
  end_second = (h2*3600) + (m2*60) + s2

  # 1 วัน มี 86400 วินาที
  if end_day == start_day :
    total_time = end_second - start_second
  else:
    total_time = (86400 - start_second) + end_second + (day_diff * 86400)

  return print(f'ช่วงระยะเวลา มีทั้งหมด {total_time} วินาที')

In [ ]:
# prompt: แก้ฟังก์ชัน call_dif_secs0 ที่สามารถกรอกแค่ start_day หรือ end_day ก็ได้ ถ้ากรอกอันเดียวจะให้เป็นวันเดียวกัน

def call_dif_secs0(start_time,end_time,start_day=None, end_day=None):

  days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

  if end_day is None:
    end_day = start_day

  if start_day or end_day is None:
    start_day = 'Monday'
    end_day = 'Monday'

  start_index = days.index(start_day.strip())
  end_index = days.index(end_day.strip())

  if end_index - start_index == 0 :
      day_diff = 0
      print(f'วันเดียวกัน')
  elif    end_index - start_index < 0:
    day_diff =  end_index - start_index + 7
  else:
    day_diff = end_index - start_index
    print(f'ห่างกัน {day_diff} วัน')

  h1 , m1 , s1 = start_time.split(':')
  h1 = int(h1)
  m1 = int(m1)
  s1 = int(s1)
  start_second = (h1*3600) + (m1*60) + s1

  h2 , m2 , s2 = end_time.split(':')
  h2 = int(h2)
  m2 = int(m2)
  s2 = int(s2)
  end_second = (h2*3600) + (m2*60) + s2

  # 1 วัน มี 86400 วินาที
  if day_diff == 0 :
    total_time = end_second - start_second
  else:
    total_time = (86400 - start_second) + end_second + ((day_diff-1) * 86400)


  return print(f'ช่วงระยะเวลา มีทั้งหมด {total_time} วินาที')

In [ ]:
call_dif_secs0('11:11:11','11:11:12', 'Friday')

วันเดียวกัน
ช่วงระยะเวลา มีทั้งหมด 1 วินาที

### เพิ่ม loop เข้าไปใน Quize 6 โดนวนลูป คำนวนวินาที ในโจทย์ต่อไปนี้

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**5
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 32
this member = 3 after process = 243

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i , end = '\n')

T
h
a
n
a
p
o
n
g

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
    print('งง' , )

งง
งง
งง
งง
งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) #(start,stop,step)

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Rungseang':
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
  index += 1

สมาชิกคือ R เป็นลำดับที่ 0
สมาชิกคือ u เป็นลำดับที่ 1
สมาชิกคือ n เป็นลำดับที่ 2
สมาชิกคือ g เป็นลำดับที่ 3
สมาชิกคือ s เป็นลำดับที่ 4
สมาชิกคือ e เป็นลำดับที่ 5
สมาชิกคือ a เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [ ]:
for index,i in enumerate('Rungseang'):
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ R เป็นลำดับที่ 0
สมาชิกคือ u เป็นลำดับที่ 1
สมาชิกคือ n เป็นลำดับที่ 2
สมาชิกคือ g เป็นลำดับที่ 3
สมาชิกคือ s เป็นลำดับที่ 4
สมาชิกคือ e เป็นลำดับที่ 5
สมาชิกคือ a เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5,2): #(2,4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

### Quiz 7

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
list_friend = ['พี่บูม']

In [ ]:
print_feelings('เจมส์',['พี่บูม'])

เจมส์ คิดถึง พี่บูม

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f' {name_grade[i]}')

 B
 C
 A
 F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time_list =  [
    ["18:09:10 ", "18:09:11 "],
    ["13:38:39 Wednesday", "23:54:39 Monday"],
    ["17:05:17 Saturday", "18:09:17 Sunday"]
]

def time_to_second(start, end):
    start_day = start.split(' ')[1]
    end_day = end.split(' ')[1]
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    start_index = days.index(start_day.strip())
    end_index = days.index(end_day.strip())

    if end_index == start_index:
        day_diff = 0
        print('วันเดียวกัน')
    elif end_index - start_index - 1 < 0:
        day_diff = end_index - start_index + 6
    else:
        day_diff = end_index - start_index - 1

    start_time = start.split(' ')[0]
    end_time = end.split(' ')[0]

    h1, m1, s1 = map(int, start_time.split(':'))
    start_second = (h1 * 3600) + (m1 * 60) + s1

    h2, m2, s2 = map(int, end_time.split(':'))
    end_second = (h2 * 3600) + (m2 * 60) + s2

    # 1 วันมี 86400 วินาที
    if end_day == start_day:
        total_time = end_second - start_second
    else:
        total_time = (86400 - start_second) + end_second + (day_diff * 86400)

    return total_time

for time1, time2 in time_list:
    diff_seconds = time_to_second(time1, time2)
    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

ValueError: '' is not in list

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

## HW3

In [79]:
# prompt: จากฟังก์ชัน call_dif_secs0 เพิ้มการใช้ For loop เข้าไปในฟังก์ชันเพื่อใช้ในการคำนวณจำนวนวินาที

def call_dif_secs0(start_time, start_day, end_time, end_day=None):

    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    if end_day is None:
        end_day = start_day



    start_index = days.index(start_day.strip())
    end_index = days.index(end_day.strip())

    day_diff = 0
    if start_index != end_index:
        if end_index < start_index:
            day_diff = end_index - start_index + 7
        else:
            day_diff = end_index - start_index

    h1, m1, s1 = map(int, start_time.split(':'))
    start_second = (h1 * 3600) + (m1 * 60) + s1

    h2, m2, s2 = map(int, end_time.split(':'))
    end_second = (h2 * 3600) + (m2 * 60) + s2

    total_time = 0
    if day_diff == 0:
        total_time = end_second - start_second
    else:
         total_time = (86400 - start_second) + end_second
         for _ in range(day_diff - 1):
             total_time += 86400

    if total_time < 0:
        total_time = total_time *-1
    else:
        total_time = total_time
    print(f'ช่วงระยะเวลา มีทั้งหมด {total_time} วินาที')

time_list_hw3 = [
    ("10:00:00", "Monday", "11:30:00", "Monday"),  # 5400   Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday"),  # 5400   Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00","Monday"),  # 7200)  Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday"),  # 7200   Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday"), # 178200  Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday"), # 178200  Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday"),      # 0 Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday"), # 24*3600 # Same time, next day
    ("00:00:00", "Monday", "23:59:59"), # 24*3600 - 1 Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday"),       # 1 One second difference across midnight
]

# print("Calculating for HW2 times:")
# for start_time, end_time in time_list_hw2:
#     call_dif_secs0(start_time, end_time)

print("\nCalculating for HW3 times:")
for i, entry in enumerate(time_list_hw3, start=1):
    print(f"\n{i}.")  # แสดงลำดับก่อนแสดงผลลัพธ์
    if len(entry) == 4:
        start_time, start_day, end_time, end_day = entry
        call_dif_secs0(start_time, start_day, end_time, end_day)
    elif len(entry) == 3:
        start_time, start_day, end_time = entry
        call_dif_secs0(start_time, start_day, end_time)

Calculating for HW3 times:

1.
ช่วงระยะเวลา มีทั้งหมด 5400 วินาที

2.
ช่วงระยะเวลา มีทั้งหมด 5400 วินาที

3.
ช่วงระยะเวลา มีทั้งหมด 7200 วินาที

4.
ช่วงระยะเวลา มีทั้งหมด 597600 วินาที

5.
ช่วงระยะเวลา มีทั้งหมด 178200 วินาที

6.
ช่วงระยะเวลา มีทั้งหมด 426600 วินาที

7.
ช่วงระยะเวลา มีทั้งหมด 0 วินาที

8.
ช่วงระยะเวลา มีทั้งหมด 86400 วินาที

9.
ช่วงระยะเวลา มีทั้งหมด 86399 วินาที

10.
ช่วงระยะเวลา มีทั้งหมด 1 วินาที

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish